* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1264px;
	margin: 0 auto;
	padding: 0 16px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
	color: #383838;
	font-weight: 500;
}

.highlight {
	width: 100px;
	margin: 0 auto;
	border: none;
	border-bottom: 2px solid #f5bd41;
	border-top: 2px solid #f5bd41;
}

/*main-page*/

.main {
	height: 100vh;
	background-image: url('../images/main/background.svg');
	background-size: cover;
}

.header {
	padding-top: 50px;
	padding-bottom: 200px;
}

.header__logo {
	width: 50%;
}

.header__navbar {
	font-size: 24px;
	color: #ffffff;
	display: flex;
	gap: 48px;
}

.header__links:hover {
	text-decoration: underline #f5bd41 3px;
	text-underline-offset: 12px;
}

.navbar__common {
	display: flex;
	align-items: center;
	gap: 24px;
}

.motto {
	font-weight: 500;
	font-size: 50px;
	color: #ffffff;
	padding-top: unset;
	padding-bottom: 145px;
}

.filter {
	width: 100%;
	max-width: 1232px;
	padding: unset;
	border-radius: 8px;
	background-color: #ffffff;
}



.filter__label {
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	top: -46px;
	left: 24px;
}

.filter__element {
	border-radius: 8px;
	border: none;
	outline: none;
	font-size: 18px;
	max-height: 64px;
	padding: 22px 24px 22px 24px;
	appearance: none;
	position: relative;
}

.filter__element:focus {
	border-radius: 8px;
	outline: 3px solid #f5bd41;
	outline-offset: -3px;
}

.filter__element-city {
	width: 100%;
	position: relative;
}

#city-search {
	width: 100%;
}

.filter__element-date {
	position: relative;
}

#date {
	width: 260px;
}

.filter__element-persons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.filter__btn {
	background-color: #3077c6;
	border-radius: 8px;
	color: white;
	font-weight: 500;
	font-size: 24px;
	padding: 20px 57px;
	border: unset;
	line-height: 24px;
}

.downloads {
	display: flex;
	gap: 16px;
	justify-content: center;
	padding-top: 120px;
}

/*offering-section*/

.offerings {
	margin-top: 120px;
	margin-bottom: 120px;
}

.offerings__row {
	padding-top: 80px;
}

.offerings__col {
	width: 25%;
	display: flex;
	flex-direction: column;
}
.offerings__img {
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

.offerings__caption {
	text-align: center;
	padding: 48px 0 0 0;
	font-size: 24px;
	color: #383838;
}

/*footer-section*/

.footer {
	color: #ffffff;
	font-weight: 400;
	max-width: 100vw;
	background-color: #10367c;
	padding-top: 120px;
	padding-bottom: 120px;
}

.footer:last-child {
	font-size: 14px;
}

.footer__row {
	font-size: 20px;
	padding-bottom: unset;
}

.footer__col {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.links-title {
	font-weight: 500;
}

.footer__copyright {
	padding-top: 64px;
}
