* {
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	box-sizing: border-box;
}

.header {
	margin: 120px 0 20px 0;
	text-align: center;
	font-size: 40px;
	color: #383838;
	font-weight: 500;
}

.highlight {
	width: 100px;
	margin-bottom: 80px;
	border: none;
	border-bottom: 2px solid #f5bd41;
	border-top: 2px solid #f5bd41;
}

.advantages {
	width: 1248px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 120px;
}

.advantages-elements {
	width: 296px;
	display: flex;
	flex-direction: column;
}

.advantages-caption {
	text-align: center;
	padding: 48px 0 0 0;
	font-size: 24px;
	color: #383838;
}

/*footer-section*/

.footer {
	height: 625px;
	background-color: #10367c;
}

.link-section {
	padding-top: 120px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	margin: unset;
	display: flex;
}

.link {
	margin: unset;
}

.about-column {
	margin: 0 0 0 104px;
	display: flex;
	flex-direction: column;
	padding-left: 16px;
	gap: 24px;
}

.property-types-column {
	margin: 0 0 0 223px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 133px;
}

.support-column {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 283px;
	gap: 24px;
}

.column-type {
	font-weight: 500;
	margin: unset;
}

.rights {
	margin: 64px 0 0 121px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
