* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	box-sizing: border-box;
}

.html {
	font-size: 16px;
}

:root {
	--container-width: 1264px;
}

.container {
	width: 100%;
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 16px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 40px;
	color: #383838;
	font-weight: 500;
}

.highlight {
	width: 100px;
	margin: 0 auto;
	border: none;
	border-bottom: 2px solid #f5bd41;
	border-top: 2px solid #f5bd41;
}

.col-1 {
	width: 100%;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: calc(100% / 3);
}
.col-4 {
	width: calc(100% / 4);
}
.col-5 {
	width: calc(100% / 5);
}
.col-6 {
	width: calc(100% / 6);
}
.col-7 {
	width: calc(100% / 7);
}
.col-8 {
	width: calc(100% / 8);
}
.col-9 {
	width: calc(100% / 9);
}
.col-10 {
	width: calc(100% / 10);
}
.col-11 {
	width: calc(100% / 11);
}
.col-12 {
	width: calc(100% / 12);
}

/*main-page*/

.main {
	height: 100vh;
	background-image: url('../images/main/background.svg');
	background-size: cover;
}

.header {
	padding-top: 50px;
	padding-bottom: 200px;
	fill: #3077c6;
}

.header__navbar {
	font-size: 24px;
	color: #ffffff;
	display: flex;
	gap: 48px;
}

.header__links:hover {
	text-decoration: underline #f5bd41 3px;
	text-underline-offset: 12px;
}

.navbar__common {
	display: flex;
	align-items: center;
	gap: 24px;
}

.svg-menu {
	display: none;
}

.motto {
	font-weight: 500;
	font-size: 50px;
	color: #ffffff;
	padding-top: unset;
	padding-bottom: 145px;
}

.filter__label {
	font-size: 18px;
	color: #ffffff;
	position: absolute;
	top: -46px;
	left: 24px;
}

.filter {
	margin: 0 auto;
	border-radius: 8px;
	background-color: #ffffff;
	display: grid;
	grid-template-columns: 1.5fr 1fr 1fr 192px;
}

.filter__element {
	border-radius: 8px;
	border: none;
	font-size: 18px;
	appearance: none;
	height: 100%;
}

.filter__element:focus {
	outline: 3px solid #f5bd41;
	outline-offset: -3px;
}

.filter__element-city {
	grid-column: 1;
	position: relative;
}

.city-search {
	width: 100%;
	padding: 0 0 0 24px;
}

.filter__element-date {
	grid-column: 2;
	position: relative;
	display: flex;
	justify-content: space-between;
}

#date-in {
	width: 50%;
	padding: 0 0 0 24px;
}

#date-out {
	width: 50%;
	padding: 0 24px 0 0;
}

.filter__element-persons {
	grid-column: 3;
	display: flex;
	align-items: center;
}

.filter__element-p {
	text-align: center;
	width: 33.3%;
}

.filter__element-p:nth-child(1) {
	padding-left: 24px;
}

.filter__element-p:nth-child(5) {
	padding-right: 24px;
}

.filter__btn {
	grid-column: 4;
	background-color: #3077c6;
	border-radius: 8px;
	color: white;
	font-weight: 500;
	font-size: 24px;
	padding: 20px 57px;
	border: unset;
}

.downloads {
	display: flex;
	gap: 16px;
	justify-content: center;
	padding-top: 120px;
}

/*offering-section*/

.offerings {
	padding-top: 120px;
	padding-bottom: 120px;
}

.offerings__row {
	padding-top: 80px;
	flex-wrap: wrap;
}

.offerings__col {
	display: flex;
	flex-direction: column;
}
.offerings__img {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

.offerings__caption {
	text-align: center;
	padding: 48px 0 0 0;
	font-size: 24px;
	color: #383838;
}

/*footer-section*/

.footer {
	color: #ffffff;
	font-weight: 400;
	max-width: 100vw;
	background-color: #10367c;
	padding-top: 120px;
	padding-bottom: 120px;
}

.footer__logo {
	display: none;
}

.footer:last-child {
	font-size: 14px;
}

.footer__row {
	font-size: 20px;
	padding-bottom: unset;
	flex-wrap: wrap;
}

.footer__col {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.footer__link-1st {
	font-weight: 500;
}

.footer__copyright {
	padding-top: 64px;
}

.vl {
	display: none;
	border-left: 1px solid #000000;
	height: 32px;
}

/*for mobile phones*/
@media (max-width: 468px) {
	[class*='col-'] {
		width: 100%;
	}

	.title {
		font-size: 1.75rem;
		margin: unset;
	}

	.highlight {
		display: none;
	}

	/*main*/

	.header {
		padding-top: 12px;
		padding-bottom: 40px;
	}

	.header__logo {
		width: 122px;
	}

	.svg-account {
		width: 1.5rem;
	}

	.svg-night {
		width: 1rem;
	}

	.svg-menu {
		display: unset;
		fill: white;
	}

	.header__navbar-left {
		display: none;
	}

	.motto {
		font-size: 30px;
		padding-bottom: 2rem;
	}

	.filter__label {
		display: none;
	}

	.filter {
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, 48px);
		border-radius: 0;
		border: 8px solid #f5bd41;
		grid-row-gap: 8px;
		background-color: #f5bd41;
	}

	.filter__element:focus {
		outline: none;
	}

	.filter__element-city {
		grid-column: 1;
		grid-row: 1;
	}

	.filter__element-date {
		grid-column: 1;
		grid-row: 2;
	}

	#date-in {
		margin-right: 8px;
	}

	.filter__element-separate-h {
		display: none;
	}

	.filter__element-separate-v {
		display: unset;
		border-left: 1px solid #bfbfbf;
		height: 32px;
	}

	.filter__element-persons {
		background-color: #ffffff;
		grid-column: 1;
		grid-row: 3;
		border-radius: 8px;
	}

	#adults {
		border-radius: 8px 0 0 8px;
	}

	#room {
		border-radius: 0 8px 8px 0;
	}

	.filter__btn {
		grid-column: 1;
		grid-row: 4;
		font-size: 19px;
		padding: unset;
	}

	.downloads {
		padding-bottom: 2.5rem;
	}

	/*offerings-section*/

	.offerings {
		padding-top: 24px;
		padding-bottom: 40px;
	}

	.offerings__row {
		padding-top: 32px;
	}

	.offerings__col:not(:last-child) {
		padding-bottom: 32px;
	}

	.offerings__img {
		height: 70px;
		width: 70px;
	}

	.offerings__svg {
		max-height: 100%;
	}

	.offerings__caption {
		padding-top: 16px;
		font-size: 15px;
	}

	/*footer-section*/

	.footer {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.footer__logo {
		display: flex;
		margin: 0 auto;
		padding-bottom: 40px;
		fill: #ffffff;
		width: 98px;
	}

	.footer__col {
		display: flex;
		align-items: center;
		width: 33.3%;
	}

	.footer__link-1st {
		font-size: 15px;
		font-weight: 500;
		text-decoration: underline;
	}

	.footer__link {
		display: none;
	}

	.footer__copyright {
		justify-content: center;
		padding-top: 32px;
		font-size: 12px;
	}
}
